/*** COLOR PALETTE ***/

.celadon {
  color: #aec8a4;
}

.cream {
  color: #e7efc7;
}

.chamoisee {
  color: #a87f59;
}

.cafe-noir {
  color: #453421;
}

.white-smoke {
  color: #f9f8f6;
}

.black-grey {
  color: #1d1c1a;
}

@font-face {
  font-family: "Kingred";
  src: url(../font/kingred.otf);
}

.font-logo {
  font-family: "Kingred", sans-serif !important;
}

.monteserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  opacity: 0;
  transition: opacity 0.8s ease;
}

body.fade-in {
  opacity: 1;
}

/*** Shape Divider  ***/

/*** Spinner Start ***/
#spinner {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
  z-index: 9999;
}

#spinner.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
}
/*** Spinner End ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s, transform 0.3s;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.back-to-top:hover {
  transform: scale(1.1);
}

.back-to-top-change {
  background-color: #453421 !important;
  border-color: #453421 !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.back-to-top-change:hover {
  background-color: #aec8a4 !important;
  border-color: #aec8a4 !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: 0.5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn-primary-outline-0 {
  border: 0;
  color: var(--bs-white) !important;
}

.btn-light-outline-0 {
  border: 0;
  color: var(--bs-primary) !important;
}

.btn-primary-outline-0:hover {
  background: #aec8a4;
  color: var(--bs-white) !important;
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #453421;
  border-color: #453421;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #000;
  background-color: #453421;
  border-color: #453421;
  box-shadow: 0 0 0 0.25rem #45342180;
}

.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(174, 200, 164, 0.5);
}

.btn-appointment {
  background-color: #453421;
}

.btn-contact {
  background-color: #453421;
  padding: 1rem 2rem 1rem 2rem !important;
}
.btn-primary {
  background-color: #453421;
}

.btn-primary-outline-0:focus {
  box-shadow: 0 0 0 0.25rem rgba(69, 52, 33, 0) !important;
}

/*** franchise button ***/
.fran-btn {
  position: relative;
  padding: 13px 35px;
  background: #f5ddb7;
  font-size: 17px;
  font-weight: 800;
  color: #181818;
  border: none;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.icon-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -1;
}

.icon-2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.icon-5 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: -2;
}

.fran-btn:hover {
  padding: 13px 25px;
  border-radius: 8px 8px 24px 24px;
}

.fran-btn:hover .icon-1 {
  top: -230%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  animation: inIcon1 1s ease .45s forwards;
}

@keyframes inIcon1 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  25% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(1deg);
  }

  65% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fran-btn:hover .icon-2 {
  position: absolute;
  top: -170%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 75px;
  height: auto;
  animation: inIcon2 1s ease .45s forwards;
}

@keyframes inIcon2 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(10deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(4deg);
  }

  80% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fran-btn:hover .icon-3 {
  position: absolute;
  top: -130%;
  left: 20%;
  transform: translate(-50%, 0);
  width: 60px;
  height: auto;
  animation: inIcon3 1s ease .45s forwards;
}

@keyframes inIcon3 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-2deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fran-btn:hover .icon-4 {
  position: absolute;
  top: -300%;
  left: 15%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon4 1s ease .45s forwards;
}

@keyframes inIcon4 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  40% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fran-btn:hover .icon-5 {
  position: absolute;
  top: -330%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon5 1s ease .45s forwards;
}

@keyframes inIcon5 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fil-leaf-1 {
  fill: #7B9B3A
}

.fil-leaf-2 {
  fill: #556729;
  fill-rule: nonzero
}

.fil-leaf-3 {
  fill: #556729
}

.fil-leaf-4 {
  fill: #3C4819
}

.fil-leaf-5 {
  fill: #3C4819
}
  


/***  Location Button ***/
.cta {
	border: none;
	background: none;
	padding: 0px;
	cursor: pointer;
	margin-top: .5rem ;
}

.cta span {
	padding-bottom: 7px;
	letter-spacing: 4px;
	font-size: 14px;
	padding-right: 10px;
  	text-transform: uppercase;
	font-weight: bold;
}

.cta svg {
	transform: translateX(-8px);
	transition: all 0.3s ease;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active svg {
	transform: scale(0.9);
}

.hover-underline-animation {
	position: relative;
	color: #453421;
	padding-bottom: 20px;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #aec8a4;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  	transform: scaleX(1);
  	transform-origin: bottom left;
}

/*** Topbar Start ***/
.sticky-top {
  transition: 0.5s;
  background: var(--bs-white);
}

.topbar {
  padding: 10px 0;
  background: #a87f59 !important;
}

.details a:hover i {
  color: #aec8a4 !important;
}

.details a:hover {
  color: #aec8a4 !important;
}

.socmed a:hover {
  color: #aec8a4;
}

.socmed .rounded-circle:hover {
  border: 1px solid #aec8a4 !important;
}

/*** Topbar End ***/

/*** Navbar Start ***/

.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: #aec8a4;
}

.navbar .dropdown-toggle {
  border: none;
  content: "\f107";
  font-weight: 700;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    transition: 0.5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: #aec8a4;
  color: #fff;
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  border-radius: 10px !important;
  transition: 0.5s;
  opacity: 1;
  box-shadow: 0 5px 14px -5px #453421;
}

@media (max-width: 1199px) {
	.navbar-collapse .border-topmob  {
			margin-top: 20px;
			border-top: 2px solid #aec8a4;
	}

	.navbar .nav-item:hover .dropdown-menu {
			background: var(--bs-light) !important;
			box-shadow: none;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}
}

#searchModal .modal-content {
  background: rgba(250, 250, 250, 0.6);
}
/*** Navbar End ***/

/*** Carousel Start ***/
video {
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.carousel-item {
  position: relative;
  min-height: 100vh;
}

.carousel-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .carousel-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-size: cover;
}

.carousel-item .carousel-caption div h2,
.carousel-item .carousel-caption div h1,
.carousel-item .carousel-caption div p {
  color: #1d1c1a;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 10px rgba(116, 116, 116, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  background: transparent;
}

#carouselId .carousel-indicators {
  padding-bottom: 30px;
}

#carouselId .carousel-indicators li {
  border-top: 10px solid var(--bs-white);
  border-bottom: 10px solid var(--bs-white);
  border-right: 5px solid var(--bs-white);
  border-left: 5px solid var(--bs-white);
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

#carouselId .carousel-indicators li.active {
  background: #453421;
  border-color: #453421;
  border-right: 15px solid #453421;
  border-left: 15px solid #453421;
}
/*** Carousel End ***/

.bg-breadcrumb {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/About/0U1A4695.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-breadcrumb a {
  color: #aec8a4 !important;
}

.bg-breadcrumb h3 {
  letter-spacing: 3px;
}

.bg-breadcrumb a:hover {
  color: #91a788 !important;
}

/*** Services Start ***/

.services .services-item {
  transition: 0.5s;
}

.services .services-content h3 {
  font-weight: 600;
}

.services .services-item:hover {
  background: #a87f59 !important;
  border-color: #e7efc7 !important;
}

.services .services-item:hover .services-content p,
.services .services-item:hover .services-content h3 {
  color: var(--bs-white);
  transition: 0.5s;
}

.services .services-item:hover .services-content a.btn {
  background: var(--bs-white);
  color: var(--bs-primary) !important;
}

.services .services-item:hover .services-content a.btn:hover {
  color: var(--bs-white) !important;
}

.services .services-item .services-img {
  overflow: hidden;
}

.services .services-item .services-img img {
  transition: 0.5s;
}

.services .services-item .services-img img:hover {
  transform: scale(1.3);
}
.services-img img {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.services {
  overflow-x: hidden;
}

.services-item {
  align-content: center;
}

@media (max-width: 1199px) and (min-width: 990px) {
  .services-box {
    height: auto;
  }

  .services-item {
    height: 265px;
  }
}

@media (max-width: 500px) {
  .services-img img {
    display: none;
  }

  .services-contentbox {
    width: 100% !important;
  }
}

.wrapper {
  height: 2em;
  width: 8em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  z-index: 1;
  color: #ffffff;
  padding: 6px 18px;
  border-radius: 10px;
  background: rgb(168, 127, 89);
  transition: all 0.5s ease;
  margin-bottom: 0px;
}

.text-explore {
  font-size: 16px;
  z-index: 1;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 10px;
  background: rgb(168, 127, 89);
  transition: all 0.5s ease;
  margin-bottom: 0px;
}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -15px;
  left: -22px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -20px;
  left: 0px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -20px;
  right: 35px;
  transform: rotate(0deg);
}

.flower4 {
  top: -20px;
  right: 65px;
  transform: rotate(15deg);
}

.flower5 {
  right: 17px;
  top: -14px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#aec8a4, #e7efc7);
  border: 0.5px solid #c1c5c0;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#91a788, #e7efc7);
  border: 0.5px solid #b8c5b2;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text,
.btn:hover .text-explore {
  color: #000;
  background: rgba(255, 255, 255, 0.1);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}
/*** Services End ***/

/*** About Start ***/
.hias {
  flex-direction: row-reverse;
}

.services-content h3 {
  font-weight: 600;
}

.about-img1 {
  height: 500px;
  object-fit: cover;
}

.about-img2 {
  height: 200px;
}

@media (max-width: 475px) and (min-width: 321px) {
  .about-img1 {
    height: 450px;
  }

  .about-img2 {
    height: 180px;
  }

  .video {
    padding-right: 40px !important;
  }

  .about {
    padding-top: 0rem !important;
  }

  .services {
    padding-bottom: 0rem !important;
  }

  .about-btn {
    justify-content: center !important;
  }

  .display-4 {
    margin-bottom: 5px;
  }
}

@media (max-width: 320px) {
  .display-4 {
    margin-bottom: 5px;
  }

  .about-img1 {
    height: 450px;
  }

  .about-img2 {
    height: 130px;
  }

  .video {
    padding-right: 30px !important;
  }

  .about {
    padding-top: 0rem !important;
  }

  .services {
    padding-bottom: 0rem !important;
  }
  .about-btn {
    justify-content: center !important;
  }
  .appointment-form {
    padding: 1rem !important;
    text-align: center;
  }
}

@media (max-width: 1025px) and (min-width: 476px) {
  .about {
    padding-top: 2rem !important;
  }

  .services {
    padding-bottom: 1rem !important;
  }
}

.video {
  position: relative;
  padding-right: 70px;
  padding-bottom: 70px;
  border-radius: 10px;
}

.aboutus {
  text-align: justify;
}

/*** About End ***/

/*** Appointment  Start ***/

@media (max-width: 1200px) and (min-width: 992px) {
  .appointment-time div {
    flex-direction: column;
  }

  .appointment-form {
    align-content: space-around;
  }

  .appointment-time div p {
    margin-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .appointment .opening {
    padding: 0px 12px !important;
  }
}

@media (max-width: 475px) {
  .appointment-time div {
    flex-direction: column;
  }

  .appointment-time div p {
    margin-bottom: 0px;
  }

  .appointment-form,
  .appointment-time {
    padding: 2rem 1rem !important;
  }

  .appointment-time {
    padding: 2rem 2rem !important;
  }

  .appointment .opening {
    padding: 0px 12px !important;
  }
}

.form-select,
.form-control {
  border: 1px solid #a87f59;
  user-select: none;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  color: #453421 !important;
  text-align: left;
}
.form-control:focus,
.form-select:focus {
  border: 1px solid #a87f59;
  box-shadow: 0 0 0 0.25rem rgba(168, 127, 89, 0);
}

.appointment {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/Appointment/0U1A4570.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appointment1 {
  background-color: #ffffff !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/golden-background-with-palm-tree.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appointment .appointment-form {
  background: #f9f8f6;
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}

.appointment .appointment-form h3 {
  font-weight: 600;
}

.appointment .appointment-form input {
  border: 1px solid #a87f59;
}

.appointment .appointment-time {
  background: rgba(249, 248, 246, 0.15);
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.appointment .appointment-time p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.appointment-time h3 {
  font-weight: 600;
}

.display-6 {
    font-size: calc(1.425rem + 1.3vw);
    font-weight: 700;
    line-height: 1.2;
}

.display-7 {
    font-size: calc(1.425rem + .7vw);
    font-weight: 600;
    line-height: 1.2;
}

.fs-14 {
  font-size: 14px;
}

/*** Appointment End ***/

/*** Franchise ***/
.intro-franchise {
    background-color: #fff;
    color: #202020;
    padding-top: 30px;
    padding-bottom: 70px;
    overflow-x: hidden;
}

.mask-container {
	container-type: inline-size;
   --mask-head-size: calc(0.015 * 100cqw);
   --mask-foot-size: calc(0.015 * 100cqw);
}
.mask-box {
	margin-block: calc(-1 * var(--mask-head-size) - 1px) calc(-1 * var(--mask-foot-size) - 1px);
	padding-block: calc(var(--mask-head-size) + 1px) calc(var(--mask-foot-size) + 1px);
	mask-image:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" width="1000" height="0"><g transform="scale(0,0)" transform-origin="0% 50%"><path d="M0 0h1000v4H0zM10 100 0 4h20l-10 96zM30 100 20 4h20l-10 96zM50 100 40 4h20l-10 96zM70 100 60 4h20l-10 96zM90 100 80 4h20l-10 96zM110 100 100 4h20l-10 96zM130 100 120 4h20l-10 96zM150 100 140 4h20l-10 96zM170 100 160 4h20l-10 96zM190 100 180 4h20l-10 96zM210 100 200 4h20l-10 96zM230 100 220 4h20l-10 96zM250 100 240 4h20l-10 96zM270 100 260 4h20l-10 96zM290 100 280 4h20l-10 96zM310 100 300 4h20l-10 96zM330 100 320 4h20l-10 96zM350 100 340 4h20l-10 96zM370 100 360 4h20l-10 96zM390 100 380 4h20l-10 96zM410 100 400 4h20l-10 96zM430 100 420 4h20l-10 96zM450 100 440 4h20l-10 96zM470 100 460 4h20l-10 96zM490 100 480 4h20l-10 96zM510 100 500 4h20l-10 96zM530 100 520 4h20l-10 96zM550 100 540 4h20l-10 96zM570 100 560 4h20l-10 96zM590 100 580 4h20l-10 96zM610 100 600 4h20l-10 96zM630 100 620 4h20l-10 96zM650 100 640 4h20l-10 96zM670 100 660 4h20l-10 96zM690 100 680 4h20l-10 96zM710 100 700 4h20l-10 96zM730 100 720 4h20l-10 96zM750 100 740 4h20l-10 96zM770 100 760 4h20l-10 96zM790 100 780 4h20l-10 96zM810 100 800 4h20l-10 96zM830 100 820 4h20l-10 96zM850 100 840 4h20l-10 96zM870 100 860 4h20l-10 96zM890 100 880 4h20l-10 96zM910 100 900 4h20l-10 96zM930 100 920 4h20l-10 96zM950 100 940 4h20l-10 96zM970 100 960 4h20l-10 96zM990 100 980 4h20l-10 96z"></path></g></svg>'),
		linear-gradient(transparent calc(var(--mask-head-size) - 1px), black calc(var(--mask-head-size) - 1px), black calc(100% - var(--mask-foot-size) + 1px), transparent calc(100% - var(--mask-foot-size) + 1px)),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" width="1000" height="15"><g transform="scale(2,1)" transform-origin="10% 50%"><path d="M0 0h1000v4H0zM10 100 0 4h20l-10 96zM30 100 20 4h20l-10 96zM50 100 40 4h20l-10 96zM70 100 60 4h20l-10 96zM90 100 80 4h20l-10 96zM110 100 100 4h20l-10 96zM130 100 120 4h20l-10 96zM150 100 140 4h20l-10 96zM170 100 160 4h20l-10 96zM190 100 180 4h20l-10 96zM210 100 200 4h20l-10 96zM230 100 220 4h20l-10 96zM250 100 240 4h20l-10 96zM270 100 260 4h20l-10 96zM290 100 280 4h20l-10 96zM310 100 300 4h20l-10 96zM330 100 320 4h20l-10 96zM350 100 340 4h20l-10 96zM370 100 360 4h20l-10 96zM390 100 380 4h20l-10 96zM410 100 400 4h20l-10 96zM430 100 420 4h20l-10 96zM450 100 440 4h20l-10 96zM470 100 460 4h20l-10 96zM490 100 480 4h20l-10 96zM510 100 500 4h20l-10 96zM530 100 520 4h20l-10 96zM550 100 540 4h20l-10 96zM570 100 560 4h20l-10 96zM590 100 580 4h20l-10 96zM610 100 600 4h20l-10 96zM630 100 620 4h20l-10 96zM650 100 640 4h20l-10 96zM670 100 660 4h20l-10 96zM690 100 680 4h20l-10 96zM710 100 700 4h20l-10 96zM730 100 720 4h20l-10 96zM750 100 740 4h20l-10 96zM770 100 760 4h20l-10 96zM790 100 780 4h20l-10 96zM810 100 800 4h20l-10 96zM830 100 820 4h20l-10 96zM850 100 840 4h20l-10 96zM870 100 860 4h20l-10 96zM890 100 880 4h20l-10 96zM910 100 900 4h20l-10 96zM930 100 920 4h20l-10 96zM950 100 940 4h20l-10 96zM970 100 960 4h20l-10 96zM990 100 980 4h20l-10 96z"></path></g></svg>');
	mask-repeat: no-repeat;
	mask-position: top, center, bottom;
	mask-size: 100%;
}
.above-mask-box {
	padding-bottom: var(--mask-head-size);
	display: block;
	background: #ffffff00;
}

.below-mask-box {
	padding-top: var(--mask-foot-size);
	display: block;
	background: #ffffff00;
}
.box-wrap {
	padding: 1px;
	color: #FFFfff00;
}

.inclusion {
	font-family: "Poppins", sans-serif;
	background-color: #a87f59;
	padding-top: 105px;
  padding-bottom: 120px;
	overflow-y: hidden;
}

.inc-form {
  box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.199);
  padding: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  overflow: hidden;
}

.inc-form .hanging-leaf1{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(17%, -24%);
    top: 0;
    right: 0;
}

.inc-form .hanging-leaf2{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(83%, -24%) scaleX(-1);
    top: 0;
    left: 0;
}

.inc-form .hanging-leaf3{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(48%, -46%) scaleX(1) scale(0.85);
    top: 0;
    left: 0;
}

.inc-form .hanging-leaf4{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(48%, -46%) scaleX(-1) scale(0.85);
    top: 0;
    right: 0;
}

.op-fran {
  color: #aec8a4;
  text-transform: uppercase;
  margin: 2rem 0rem 1rem;
  z-index: 100;
  position: relative;
  font-weight: 500;
}

.start-at {
  color: #453421;
  text-transform: uppercase;
  margin: 1rem 0rem 0rem;
  z-index: 100;
  position: relative;
}

.start-price {
  color: #453421;
  text-transform: uppercase;
  margin: 1rem 0rem 2rem;
  z-index: 100;
  position: relative;
}

.package {
  color: #453421;
  text-transform: uppercase;
  margin-bottom: 2rem;
  z-index: 100;
  position: relative;
}

.inclusion-desc {
  justify-content: space-evenly;
  padding-bottom: 2.5rem;
}

.inc-word { 
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.inc-content p{
	margin-bottom: .5rem;
	font-size: 14px;
}

@media (max-width: 1200px) and (max-width: 993px) {
    .package {
	padding-top: 0.5rem;
  }
}


@media (max-width: 992px) {
  .inc-form {
    padding: 2rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .inclusion-desc {
    padding: 0rem 2.5rem 2rem;
  }

  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 300px;
    width: auto;
  }

  .package {
    text-align: center;
    padding: 0rem 2rem;
  }
}

@media (max-width: 575px) and (min-width: 321px){
  .inc-form {
    padding: 1.5rem 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .display-6 {
    font-size: calc(1.425rem + 0.9vw);
  }

  .package {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 345px;
    width: auto;
  }

  .op-fran {
    padding: 0rem 2rem;
  }
}

@media (max-width: 630px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 345px;
    width: auto;
  }

  .op-fran {
    padding: 0rem 3rem;
  }
}

@media (max-width: 577px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 345px;
    width: auto;
  }

  .inclusion-desc {
    padding: 0rem 2.5rem 2rem;
  }

  .op-fran {
    padding: 0rem 5rem;
  }
  .package {
    padding: 0rem 2.5rem;
  }
}

@media (max-width: 475px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 310px;
    width: auto;
  }

  .inclusion-desc {
    padding: 0rem 1rem 2rem;
  }
}

@media (max-width: 421px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 240px;
    width: auto;
  }

  .op-fran, .package {
    padding: 0rem 0rem;
  }
}

@media (max-width: 360px) {
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 215px;
    width: auto;
  }
}

@media (max-width: 320px) {
  .inc-form {
    padding: 1.5rem 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .display-6 {
    font-size: calc(1.425rem + 0.9vw);
  }

  .display-3 {
    font-size: calc(1.525rem + 1.2vw);
}

  .package {
    text-align: center;
  }
  .inc-form .hanging-leaf1, .inc-form .hanging-leaf2, 
  .inc-form .hanging-leaf3, .inc-form .hanging-leaf4 {
    height: 190px;
    width: auto;
  }
}

.vs-adv {
  align-items: stretch;
  display: flex;
}

.section-services {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #202020;
  padding-top: 115px;
  padding-bottom: 120px;
  overflow-x: hidden;
}

.section-services .header-section {
  margin-bottom: 34px;
}

.section-services .header-section .title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 25px;
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 48%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #91a788;
  border-radius: 3px;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translateX(30px);
  width: 15px;
  height: 3px;
  background-color: #1c1a1d;
  border-radius: 3px;
}

.section-services .header-section .description {
  font-size: 16px;
  color: #282828;
}

.section-services .single-service {
  position: relative;
  margin-top: 30px;
  background-color: #f9f8f6;
  border-radius: 10px;
  padding: 40px 30px;
  overflow: hidden;
  width: 100%;
}

.section-services .single-service img {
  position: absolute;
  z-index: 20;
  width: 150px;
  height: 150px;
  transform-origin: left;
  transform: translate(45%, 20%);
  bottom: 0;
  right: 0;
}

.section-services .single-service .content {
  position: relative;
  z-index: 20;
}

.section-services .single-service .circle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: #a87f59;
  border: 6px solid #453421;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 10;
  transition: all 0.6s;
}

.section-services .single-service:hover .circle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.section-services .single-service .advicon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: 70px;
  background-color: #a87f59;
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
}

.section-services .single-service:hover .advicon {
  background-color: #fff;
  color: #91a788;
}

.section-services .single-service h3 {
  font-family: "Montserrat", sans-serif;
}

.section-services .single-service .title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 23px;
  transition: color 0.3s;
}

.section-services .single-service:hover .title {
  color: #fff;
}

.section-services .single-service .description {
  margin-bottom: 20px;
  font-size: 14px;
  transition: color 0.3s;
  width: 93%;
}

.section-services .single-service:hover .description {
  color: #fff;
}

.section-services .single-service a {
  position: relative;
  font-size: 18px;
  color: #202020;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.section-services .single-service:hover a {
  color: #fff;
}

.section-services .single-service a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ff4500;
  transition: background-color 0.3s;
}

.section-services .single-service:hover a:after {
  background-color: #fff;
}

/*** Events Start ***/
.gallery .tab-class .nav-item {
  padding: 0 0 20px 0;
}
.gallery .tab-class .nav-item a.active {
  background: var(--bs-primary) !important;
}

.gallery .tab-class .nav-item a.active span {
  color: var(--bs-white) !important;
}

.gallery .gallery-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .gallery-img img {
  transition: 0.5s;
}

.gallery .gallery-img:hover img {
  transform: scale(1.3);
}

.gallery .gallery-img .gallery-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.gallery .gallery-img .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.gallery .gallery-img:hover .gallery-overlay,
.gallery .gallery-img:hover .search-icon {
  opacity: 1;
}
/*** Events End ***/

/*** location Start ***/
.p-1-75 {
	padding: 1.75rem;
}

.h-125 {
	height: 125px;
}

@media (max-width:1400px) and (min-width:1200px) {
	.h-125 {
		height: 180px;
	}
}

@media (max-width:1200px) and (min-width:1024px) {
	.h-125 {
		height: 180px;
	}
}

@media (max-width:1024px) and (min-width:768px) {
	.h-125 {
		height: 125px;
	}
}

@media (max-width:768px) and (min-width:576px) {
	.h-125 {
		height: 200px;
	}
}

@media (max-width:576px) and (min-width:370px) {
	.h-125 {
		height: 125px;
	}
}

@media (max-width:370px) and (min-width:345px) {
	.h-125 {
		height: 145px;
	}
}

@media (max-width:345px) and (min-width:341px) {
	.h-125 {
		height: 180px;
	}
}

@media (max-width:341px) and (min-width:336px) {
	.h-125 {
		height: 165px;
	}
}

@media (max-width:336px) and (min-width:331px) {
	.h-125 {
		height: 160px;
	}
}

@media (max-width:331px) and (min-width:327px) {
	.h-125 {
		height: 165px;
	}
}

@media (max-width:327px)  {
	.h-125 {
		height: 180px;
	}
}

.location {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.location .location-item {
	border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
	display: flex;
	align-items: stretch;
}

.location .location-item .location-content  {

}

.location .location-item .location-content .place {
	font-size: 21px;
	color: #453421;
}

.location .location-item .location-content .address {
	font-size: 14px;
	color: #453421;
	margin-bottom: 0px;
}

.location .location-item .location-content hr {
	color: #aec8a4;
	height: 2px;
	opacity: 1 !important;
}

.location .location-item .location-content .rounded {
	border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.location .location-item .location-content .loc-days {
	font-size: 20px;
	color: #453421;
	margin-bottom: .25rem !important;
}

.location .location-item .location-content .loc-time {
	font-size: 16px;
	color: #aec8a4;
	font-weight: 500;
}

.location .owl-carousel.location-carousel {
  position: relative;
}

.location .owl-carousel.location-carousel .owl-nav {
  position: absolute;
  top: -60px;
  right: 0;
  display: none;
  font-size: 40px;
  color: var(--bs-white);
}

.location .owl-carousel.location-carousel .owl-nav .owl-prev {
  margin-right: 40px;
}

.location .owl-carousel.location-carousel .owl-nav .owl-prev,
.location .owl-carousel.location-carousel .owl-nav .owl-next {
  transition: 0.5s;
}

.location .owl-carousel.location-carousel .owl-nav .owl-prev:hover,
.location .owl-carousel.location-carousel .owl-nav .owl-next:hover {
  color: var(--bs-primary);
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel .owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  transition: background 0.3s;
}

.owl-carousel .owl-dot.active {
  background: #aec8a4; /* Active color */
}
/*** location End ***/

/*** Team Start ***/
.team .team-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.team .team-item .team-text {
  background: var(--bs-primary);
}

.team .team-item .team-social {
  position: absolute;
  top: -180px;
  left: 20px;
  opacity: 0;
  transition: 0.5s;
}

.team .team-item:hover .team-social {
  top: 20px;
  left: 20px;
  opacity: 1;
}

.team .team-item .team-img {
  position: relative;
  width: 100%;
}

.team .team-item .team-img::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.team .team-item:hover .team-img::after {
  bottom: 0;
  height: 100%;
}

.team .team-item .team-text {
  transition: 0.5s;
}

.team .team-item:hover .team-text {
  background: var(--bs-secondary);
}
/*** Team End ***/

/*** testimonial Start ***/
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/testimonial-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial .testimonial-item {
  background: rgba(0, 0, 0, 0.4);
}

.testimonial .owl-carousel.testimonial-carousel {
  position: relative;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav {
  position: absolute;
  top: -60px;
  right: 0;
  display: flex;
  font-size: 40px;
  color: var(--bs-white);
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev {
  margin-right: 40px;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev,
.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-next {
  transition: 0.5s;
}

.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial .owl-carousel.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--bs-primary);
}
/*** testimonial end ***/

/*** Contact Start ***/

.contact-page {
	font-family: "Poppins", sans-serif;
	background-color: #aec8a4;
	overflow-y: hidden;
  padding-top: 25px;
  padding-bottom: 45px;
  background-blend-mode: overlay;
}

.contact-form {
  background: #f9f8f6;
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 3rem 3rem 3rem 5rem;
  box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.199);
}

.contact-form .hanging-leaf1{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(17%, -24%);
    top: 0;
    right: 0;
}

.contact-form .hanging-leaf4{
    position: absolute;
    height: 350px;
    width: auto;
    z-index: 20;
    transform-origin: left;
    transform: translate(48%, -46%) scaleX(-1) scale(0.85);
    top: 0;
    right: 0;
}

.contact-section {
      background-color: #aec8a4;
      padding: 50px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.contact-details {
  position: absolute;
}

.contact-grid {
    display: grid;
    min-height: 500px;
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    width: 600px;
    height: auto;
    grid-gap: 21px;
    transform: translate(50px, 100px);
    z-index: 200;
}

.contact-box {
  background-color: #a87f59;
  padding: 30px 20px;
  text-align: center;
  color: #000;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  justify-items: baseline;
}


@media (max-width:1400px) and (min-width:1200px) {
.contact-grid {
    width: 575px;
    transform: translate(5px, 100px);
  }
}

@media (max-width:1199px) {
  .contact-form {
    padding: 5rem;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 1rem;
  }
  .contact-grid {
      padding-top: 3rem;
      grid-gap: 26px;
      width: 575px;
      transform: translate(0px, -10px) scale(1.2);
    }
}

@media (max-width:992px) {
  .contact-form {
    padding: 4rem;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      grid-gap: 30px;
      width: 575px;
      transform: translate(0px, 30px) scale(1);
    }
}

@media (max-width:767px) {
  .contact-form {
    padding: 4rem;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      grid-gap: 21px;
      width: 490px;
      transform: translate(0px, 30px) scale(1);
      padding: 0rem 2.2rem;    }
}

@media (max-width:535px) {
  .contact-form {
    padding: 4rem 3rem;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      grid-gap: 21px;
      display: flex;
      flex-direction: column;
      width: 350px;
      transform: translate(0px, 35px) scale(1);
      padding: 0rem 1.2rem;    }
}

@media (max-width:425px) {
  .contact-form {
    padding: 3rem 2rem;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      width: 300px;
      display: flex;
      flex-direction: column;
      grid-gap: 21px;
      transform: translate(0px, 25px) scale(1);
      padding: 0rem 1rem;    
    }
}

@media (max-width:390px) {
  .contact-form {
    padding: 3rem 1rem;
  }
  .contact-form label {
    font-size: 16px;
  }

  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      width: 250px;
      display: flex;
      flex-direction: column;
      grid-gap: 21px;
      transform: translate(0px, 22px) scale(1);
      padding: 0rem 1rem;    
    }
}

@media (max-width:320px) {
  .contact-form {
    padding: 2.5rem 1rem;
  }
  .contact-form label {
    font-size: 13px;
  }
  .contact-details {
      position: relative;
      justify-content: center;
      padding-top: 0rem;
  }
  .contact-grid {
      width: 230px;
      display: flex;
      flex-direction: column;
      grid-gap: 21px;
      transform: translate(0px, 20px) scale(1);
      padding: 0rem 1rem;    
    }
}

.contact-box .icon {
  font-size: 40px;
  color: #e7efc7;
  margin-bottom: 10px;
  width: 100%;
}

.contact-box h4 {
  margin: 10px 0;
  font-weight: bold;
  color: #453421;
  width: 100%;
}

.contact-box p {
  width: 93%;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: white;
  word-break: break;
}

.contact-box .email-contact {
  word-break: break-all;
}

.contact-box a .icon:hover {
  color: #aec8a4;
}
/*** Contact End ***/

/*** Location per page page ***/
.location-page {
	font-family: "Poppins", sans-serif;
	background-color: #fff;
	overflow-y: hidden;
  padding-top: 70px;
  padding-bottom: 70px;
}

.location-color {
	color: #453421;
}

.location-details {
  margin: 1rem 1rem 0rem 0rem;
}

.location-icon {
  width: 40px;
  margin-top: 2px;
  text-align: center;
}

.location-icon i {
  color: #aec8a4;
}

.location-content {
  font-size: 18px;
  margin-left: .5rem;
}

.location-menu {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.location-button {
  margin: 1rem 1rem 0rem 2rem;
  padding-top: 1rem;
}

.location-btn {
  border: 1px solid #453421;
  padding: 12px 30px 12px 30px;
  border-radius: 30px;
  background-color: #a87f59;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 0px 1px;
  transform: all 2s esase;
  transition-duration: .3s;
  color: #453421;
}

.location-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 1px rgb(0, 0, 0);
  border: 1px solid black;
}

.location-btn:active {
  transform: translateY(10px);
  box-shadow: 0px 0px 1px;
}

/***  Map ***/
.map-location{
  padding: 1rem 2.5rem 0rem 2rem;
}

.map {
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.map-location .gmap{
  height: 450px;
  margin-bottom: -7px;
}

.bg-map {
  background-color: #a87f59;
}

.bg-map h4{
  color: #453421;
}

.map-link a{
  font-size: 14px;
  color: #e7efc7;
}

.map-link .icon{
  font-size: 32px;
}

.map-link a:hover{
  color: #aec8a4;
}

/*** Menu ***/
.menu-body {
  margin: 0 auto;
  display: flex;
  color: rgb(92, 92, 92);
  justify-content: space-between;
  height: 100%;
  /* border: 3px solid #453421;
  border-radius: 10px; */
}

.menu-section-title {
  font-family: georgia;
  display: block;
  font-weight:normal;
  margin: 20px 0; 
  text-align: Center;
}

.menu-section {
  
}

.menu-item {
  margin: 10px 0;
  font-size: 18px;
}

.menu-item-name{
  font-weight: 600;
  border-bottom: 2px dotted #aec8a4;
  margin-bottom: 1rem;
  color: #a87f59;
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-description p{
  margin-bottom: .5rem;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

.menu-note {
  font-size: 14px;
  margin-bottom: 0 !important;
}

@media (max-width: 1200px) {
  .location-menu {
    padding: 2.5rem;
  }
  .menu-section-title {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .map-location {
    padding: .5rem .5rem 2rem .5rem;
  }
  .display-3 {
    font-size: calc(2rem + 3.3vw);
    font-weight: 700;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .map-location {
    padding: .5rem .5rem 2rem .5rem;
  }
  .display-3 {
    font-size: calc(1.8rem + 3.3vw);
    font-weight: 700;
    line-height: 1.2;
  }

  .location-icon {
    font-size: 1rem !important;
    margin-top: 0px;
  }
  
  .location-content {
    font-size: 16px;
    margin-left: .5rem;
  }
}

@media (max-width: 576px) {
  .location-page {
    padding-top: 50px;
  }

  .location-color, .location-details {
      padding-left: 1rem;
  }
  
  .map-location {
    padding: .5rem .5rem 2rem .5rem;
  }

  .location-button {
    margin: 1rem 1rem 0rem 1rem;
    padding-top: 1rem;
  }

  .location-icon {
    width: 15px;
    padding: 0;
  }

  .display-3 {
    font-size: calc(2rem + 3.3vw);
  }

  .content-email {
    word-break: break-all;
  }
}

@media (max-width: 475px) {
  .location-menu {
    padding: 1.5rem;
  }

  .location-color, .location-details {
    padding-left: 0rem;
    margin-right: 0px;
  }

  .location-content {
        font-size: 16px;
        margin-left: 0rem;
    }

  .location-button {
    margin: 1rem 1rem 0rem 0rem;
    padding-top: 1rem;
  }

  .map-location .gmap {
    height: 350px;
    margin-bottom: -7px;
  }

  .display-3 {
    font-size: calc(1.5rem + 3.3vw);
  }
}


/*** footer start ***/
@media (max-width: 1200px) {
  .footer-icon i {
    font-size: 35px !important;
  }
}

.footer-icon {
  margin-top: .8rem;
}

.pin-icon {
  margin-top: 5px;
}

.email-icon {
  margin-top: 5px;
}

.footer {
  background: #1d1c1a;
}

.logo-seo {
  line-height: normal !important;
  text-align: justify;
}

.footer-icon i {
  color: white;
  margin-right: 5px;
  font-size: 25px;
}

.footer-icon i:hover {
  color: #aec8a4;
}

.footer .footer-item a,
.footer .footer-item p {
  color: var(--bs-white);
  line-height: 40px;
  font-size: 17px;
  transition: 0.5s;
}

.footer-env,
.fa-phone,
.footer-map-pin {
  color: #aec8a4;
}

.footer .footer-item a:hover {
  letter-spacing: 2px;
  color: #aec8a4;
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  background: #1d1c1a !important;
}

.cc-highlight {
  color: #e7efc7 !important;
}

.cc-highlight:hover {
  color: #aec8a4 !important;
}
/*** copyright end ***/
